body {
    padding-top: 50px;
}
.view {
    position: relative;
    margin: 8px 0px;
    padding: 16px;
}
.view .background-image {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #aaa;
    opacity: .9;
    width: 100%;
    height: 100%;
}
.view .content {
    position: relative;
    color: #333;
}
.aya-ar {
    line-height: 2em;
    font-family: qalammajeed;
    font-size: 28px;
}
.aya-ar .ar-mark {
    position: relative;
    right: -6px;
    display: inline-block;
    width: 12px;
}
.aya-number {
    position: relative;
    top: 6px;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 6px;
}
.aya-number i.fa {
    text-align: center;
    position: absolute;
    top: 2px;
    width: 100%;
    display: inline-block;
    font-size: 36px;
}
.aya-number .number {
    text-align: center;
    position: absolute;
    top: -8px;
    display: inline-block;
    font-family: serif;
    width: 100%;
    font-size: 12px;
}
hr {
    margin-bottom: 4px;
}
