body {
    padding-top: 50px;
}
.view {
    position: relative;
    border: 1px solid #ddd;
    margin: 8px 0px;
    padding: 16px;
}
.aya-ar {
    line-height: 2em;
    font-family: qalammajeed;
    font-size: 28px;
}
.aya-ar .ar-mark {
    position: relative;
    right: -6px;
    display: inline-block;
    width: 12px;
}
.aya-number {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 16px;
    margin-left: 4px;
}
.aya-number img {
    width: 36px;
    position: absolute;
}
.aya-number .number {
    font-family: serif;
    position: relative;
    top: -8px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}
hr {
    margin-bottom: 4px;
}
